@font-face {
    font-family: 'Delicious-Roman';
    src: url('fonts/Delicious-Roman.eot');
    src: local('☺'), url('fonts/Delicious-Roman.woff') format('woff'), url('fonts/Delicious-Roman.ttf') format('truetype'), url('fonts/Delicious-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Delicious-Bold';
    src: url('fonts/Delicious-Bold.eot');
    src: local('☺'), url('fonts/Delicious-Bold.woff') format('woff'), url('fonts/Delicious-Bold.ttf') format('truetype'), url('fonts/Delicious-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Delicious-Italic';
    src: url('fonts/Delicious-Italic.eot');
    src: local('☺'), url('fonts/Delicious-Italic.woff') format('woff'), url('fonts/Delicious-Italic.ttf') format('truetype'), url('fonts/Delicious-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Delicious-SmallCaps';
    src: url('fonts/Delicious-SmallCaps.eot');
    src: local('☺'), url('fonts/Delicious-SmallCaps.woff') format('woff'), url('fonts/Delicious-SmallCaps.ttf') format('truetype'), url('fonts/Delicious-SmallCaps.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


