@font-face {
    font-family: 'Delicious-Roman';
    src: url('fonts/Delicious-Roman.eot');
    src: local('☺'), url('fonts/Delicious-Roman.woff') format('woff'),
        url('fonts/Delicious-Roman.ttf') format('truetype'),
        url('fonts/Delicious-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, .leaflet-container, .ui-widget{
   font-family: 'Open Sans', sans-serif;
}

body{
    background-color: rgb(145, 39, 143);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.ui-widget {
    font-size: 0.7em;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#map-result{
    position: absolute;
    right: 0;
    left: 320px;
    top: 0;
    bottom: 0;
}

.hidden{
    display: none;
}

#debug {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 0.9em;
    z-index: 10000;
    top: 15px;
    left: 60px;
    padding: 0.1em 0.2em;
    display: none;
}

#sidebar{
    width: 320px;
    padding-top: 10px;
}

#logo-gab{
    display: block;
    height: 142px;
    width: 174px;
    background-image: url('images/logo-gab.png');
    color: transparent;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
}

#mobile-detail h3 a:hover,
.leaflet-popup-content h3 a:hover,
.leaflet-container a.leaflet-popup-close-button:hover {
    color: #fff;
}

#mobile-detail h3 a,
.leaflet-popup-content h3 a,
.leaflet-container a.leaflet-popup-close-button {
    color: #eee;
}

.leaflet-container a.leaflet-popup-close-button {
    padding: 10px 4px 0 0;
}

.leaflet-popup-content{
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.leaflet-popup-content .body .address{
    margin-bottom: 8px;
}

.leaflet-popup-content .body .horaires,
.leaflet-popup-content .body .fermeture,
.leaflet-popup-content .body .services,
.leaflet-popup-content .body .produits-com,
.leaflet-popup-content .body .produits{
    margin-top: 8px;
}

#mobile-detail h3,
.leaflet-popup h3{
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    margin:0;
    padding: 8px 30px 8px 14px;
    text-shadow: 1px 1px 2px rgb(30, 30, 30);
    color: #fff;
}

#mobile-detail h3{
    position: fixed;
    width: 100%;
}

.leaflet-popup-content .contener{
    width: 480px;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#mobile-detail .body,
.leaflet-popup-content .body{
    margin: 0;
    min-height: 18px;
    padding: 5px 8px;
}

.mobile .leaflet-control-fullscreen-button,
.mobile .leaflet-popup-content .foot,
.mobile .leaflet-popup-content .body {
    display: none;
}

#mobile-detail .body div,
.leaflet-popup-content .body div{
    padding: 0;
    margin: 0;
}

#mobile-detail .body div{
    margin-bottom: 5px;
}

#mobile-detail .body{
    padding: 30px;
    background-color: #fff;
    background-color: #fff;
    padding-top: 50px;
}

#mobile-detail .image,
.leaflet-popup-content .image{
    float: right;
    min-height: 150px;
    width: 204px;
    text-align: right;
    padding: 0;
    margin: 0;
}

#mobile-detail .image{
    padding: 8px;
}

.leaflet-popup-content .image img{
    width: 200px;
}

#mobile-detail .foot,
.leaflet-popup-content .foot{
    clear: both;
    height: 30px;
    width: 100%;
    text-align: right;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

#mobile-detail .foot{
    background-image: none;
    position: fixed;
    bottom: 0;
}

#mobile-detail h3 span,
.leaflet-popup-content h3 span{
    display: inline-block;
    text-shadow: none;
    float: right;
}

#mobile-detail h3 span{
    padding: 0 5px 0 0;
}

h3 span.site,
h3 span.youtube,
h3 span.facebook{
    float: none;
}

.leaflet-popup-tip-container {
    display: none;
}

.leaflet-popup-content-wrapper {
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}

.produits, .produits-com, .services, .horaires, .fermeture,
.email, .tel{
    font-size:0.9em;
}

.email {
    overflow-y: auto;
    font-size: 0.8em;
}

.dpt-75 .foot,
.dpt-75 h3 {
    background-color: #192f8f;
}

.dpt-77 .foot,
.dpt-77 h3 {
    background-color: #009dbc;
}

.dpt-78 .foot,
.dpt-78 h3 {
    background-color: #ec008c;
}

.dpt-91 .foot,
.dpt-91 h3 {
    background-color: #91278f;
}

.dpt-92 .foot,
.dpt-92 h3 {
    background-color: #008c44;
}

.dpt-93 .foot,
.dpt-93 h3 {
    background-color: #8cc63f;
}

.dpt-94 .foot,
.dpt-94 h3 {
    background-color: #ffc20e;
}

.dpt-95 .foot,
.dpt-95 h3 {
    background-color: #c1272d;
}

.dpt-75 .foot {
    background-image: url('images/popup-dept-75.png');
}

.dpt-77 .foot {
    background-image: url('images/popup-dept-77.png');
}

.dpt-78 .foot {
    background-image: url('images/popup-dept-78.png');
}

.dpt-91 .foot {
    background-image: url('images/popup-dept-91.png');
}

.dpt-92 .foot {
    background-image: url('images/popup-dept-92.png');
}

.dpt-93 .foot {
    background-image: url('images/popup-dept-93.png');
}

.dpt-94 .foot {
    background-image: url('images/popup-dept-94.png');
}

.dpt-95 .foot {
    background-image: url('images/popup-dept-95.png');
}

.search-form{
    font-size: 0.7em;
    padding: 0.5em 1em;
}

input.ui-autocomplete-input{
    border: 1px solid #aaa;
    background-color: #fff;
    padding: 3px 5px;
    height: auto;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));
    background-image: -webkit-linear-gradient(#eee 1%,#fff 15%);
    background-image: -moz-linear-gradient(#eee 1%,#fff 15%);
    background-image: -o-linear-gradient(#eee 1%,#fff 15%);
    background-image: linear-gradient(#eee 1%,#fff 15%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.1em;
}

input.ui-autocomplete-input{
    width: 286px;
}

.select2 p, ul li, ol li {
    line-height: 1rem;
}

.select2-results__option{
    font-size: 0.7em;
}

.select2-container {
    width: 290px !important;
}

.select2-container--default .select2-selection--multiple
.select2-selection__choice{
    width: 260px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    white-space: normal;
}

#search p{
    margin-top: 6px;
}

#search h3{
    font-size: 28px;
    background-color: #fff;
    color: rgb(145, 39, 143);
    padding: 8px 20px 26px;
    margin: 0px;
    font-variant:small-caps;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url('images/down-arrow.png');
}

#search h3.top-head{
    /* temp */
    background-image: url('images/logo-gab.png');
    background-position: top left;
    background-size: 118px 97px;
    padding-left: 130px;
    padding-right: 5px;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    font-size: 1em;
    padding-top: 0px;
}

#search h3#resultats{
    padding-bottom:60px;
}

#search label{
    font-weight: bold;
    font-variant: small-caps;
    font-size: 18px;
    display: block;
    line-height: 1em;
    color: #fff;
}

#search-button{
    border: none;
    background-color: transparent;
    color: #000;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 24px;
    margin:0;
    padding:0.3em;
}

#search-button:hover{
    cursor: pointer;
}

#farm-list{
    background-color:#fff;
}

.error{
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: 0.8em;
    color: red;
}

ul#farm-list,
#farm-list h4{
    margin:0;
}

ul#farm-list{
    list-style-type: none;
    padding: 0 20px 10px;
    position: absolute;
    width: 280px;
    bottom: 0;
    top: 385px;
    overflow: hidden;
    overflow-y: auto;
}

ul#farm-list li{
    line-height: 25px;
    margin-bottom: 5px;
}

#farm-list h4{
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

#farm-list h4:hover{
    cursor: pointer;
}

#farm-list em{
    font-size: 14px;
}

.icones-produits{
    padding: 0;
    margin: 0;
}

.produits span{
    display: inline-block;
}

.produits .icon,
.icones-produits span{
    font-size: 0;
    color: transparent;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    background-position: top;
}
.produits .icon{
    vertical-align: top;
}

.patisserie-confiserie-gateaux{
    background-image: url(images/patisserie.svg);
}

.fromages-et-autres-produits-laitiers{
    background-image: url(images/fromages-et-autres-produits-laitiers.svg);
}

.fruits-confitures-jus-de-fruits, .fruits{
    background-image: url(images/fruits.svg);
}

.boissons-jus-de-fruits{
    background-image: url(images/boissons-jus-de-fruits.svg);
}

.boissons-alcoolisees-vinaigre{
    background-image: url(images/boissons.svg);
}

.pain-farine, .pain-farine-cereales{
    background-image: url(images/pain-farine.svg);
}

.cereales{
    background-image: url(images/cereales.svg);
}

.cosmetique, .produits-cosmetiques{
    background-image: url(images/cosmetique.svg);
}

.epicerie, .epicerie-autres{
    background-image: url(images/epicerie.svg);
}

.ufs{
    background-image: url(images/ufs.svg);
}

.legumes-legumes-secs-pommes-de-terre{
    background-image: url(images/legumes-legumes-secs-pommes-de-terre.svg);
}

.miel-et-produits-de-la-ruche{
    background-image: url(images/miel-et-produits-de-la-ruche.svg);
}

.viande-et-volailles{
    background-image: url(images/viande-et-volailles.svg);
}

.pepiniere{
    background-image: url(images/pepiniere.svg);
}

.plantes-aromatiques{
    background-image: url(images/plantes-arom.svg);
}

.plats-cuisines-conserves{
    background-image: url(images/conserves.svg);
}

h5{
    padding: 0;
    margin: 0;
    line-height: 1em;
    font-style: italic;
}

#switch-bar{
    display: none;
    position: fixed;
    font-size: 0.8em;
    width: 100%;
    background-color: rgb(145, 39, 143);
    z-index: 10000;
    height: 40px;
}

.button-group{
    padding: 0.2em;
    margin-left: auto;
    margin-right: auto;
}

.button-group button{
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
    margin: 0;
    margin-right: 20px;
    padding: 0.2em 0.5em;
    font-size: 0;
    color: transparent;
    border: 0px solid transparent;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.button-group button:hover{
    cursor: pointer;
}

#btn-map{
    background-image: url('images/picto-carte-off.svg');
}

.button-group button#btn-map.selected,
.button-group button#btn-map:hover{
    background-image: url('images/picto-carte-on.svg');
}

#btn-search{
    background-image: url('images/picto-recherche-carte-off.svg');
}

.button-group button#btn-search.selected,
.button-group button#btn-search:hover{
    background-image: url('images/picto-recherche-carte-on.svg');
}

#btn-farm{
    background-image: url('images/picto-ferme-off.svg');
}

.button-group button#btn-farm.selected,
.button-group button#btn-farm:hover{
    background-image: url('images/picto-ferme-on.svg');
}

@media screen and (max-width:750px) {
    .leaflet-popup-content .contener {
        width: 350px;
    }
    #map-result {
        top: 40px;
        left: 0;
    }
    #sidebar {
        padding-top: 40px;
        width: 100%;
        display: none;
    }
    ul#farm-list {
        width: 100%;
        box-sizing: border-box;
        position: inherit;
    }
    .search-form {
        margin-left: auto;
        margin-right: auto;
        max-width: 290px;
    }
    #switch-bar{
        display: block;
    }
}

@media screen and (max-width:600px) {
    .mobile #mobile-detail .image{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    .leaflet-popup-content .contener {
        width: 250px;
    }
}

.mobile .leaflet-popup-content .contener {
    width: 350px;
}

.mobile #map-result {
    top: 40px;
    left: 0;
}

.mobile #sidebar {
    padding-top: 40px;
    width: 100%;
    display: none;
}

.mobile ul#farm-list {
    width: 100%;
    box-sizing: border-box;
    position: inherit;
}

.mobile .search-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
}

.mobile #switch-bar{
    display: block;
}

#mobile-detail{
    display: none;
}

.mobile #mobile-detail{
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9999;
}

#btn-farm{
    display: none;
}

.mobile #btn-farm{
    display: inline-block;
}

.mobile select {
    width: 350px;
    max-width: 350px;
}

