{% load staticfiles %}<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Carte GAB IDF</title>
    <link href="{% static 'vf-favicon.ico' %}" rel="shortcut icon"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link type="text/css" href="{% static 'normalize.css' %}?v={{version}}"
        rel="stylesheet" />
    <link type="text/css" href="{% static 'typebase.css' %}?v={{version}}"
        rel="stylesheet" />
    <link type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}?v={{version}}"
        rel="stylesheet" />
    <link type="text/css" href="{% static 'jquery-ui/css/smoothness/jquery-ui.css' %}?v={{version}}"
        rel="stylesheet" />
    {% comment %}
    <link type="text/css" href="{% static 'chosen/chosen.min.css' %}?v={{version}}" rel="stylesheet" />
    {% endcomment %}
    <link type="text/css"
          href="{% static 'select2/css/select2.min.css' %}?v={{version}}"
          rel="stylesheet" />
    <link type="text/css" href="{% static 'leaflet/leaflet.css' %}?v={{version}}"
          rel="stylesheet" />
    <!--[if lte IE 8]>
    <link type="text/css" href="{% static 'leaflet/leaflet.ie.css' %}?v={{version}}"
          rel="stylesheet" />
    <![endif]-->
    <link rel="stylesheet"
         href="{% static 'leaflet-markercluster/MarkerCluster.css' %}?v={{version}}" />
    <link rel="stylesheet"
         href="{% static 'leaflet-markercluster/MarkerCluster.Default.css' %}?v={{version}}" />
    <!--[if lte IE 8]><link rel="stylesheet"
         href="{% static 'leaflet-markercluster/MarkerCluster.Default.ie.css' %}?v={{version}}" /><![endif]-->
    <link href='{% static "leaflet-fullscreen/leaflet.fullscreen.css" %}?v={{version}}' rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'styles.css' %}?v={{version}}" />

    <script type="text/javascript"><!--//
    var get_static_url = function (){
        return '{% static "" %}';
    }
    //--></script>

    <script language="javascript"
            type="text/javascript" src="{% static 'jquery/jquery.js' %}?v={{version}}"></script>
    <script language="javascript" type="text/javascript"
            src="{% static 'jquery-ui/jquery-ui.js' %}?v={{version}}"></script>
    {% comment %}
    <script language="javascript" type="text/javascript"
            src="{% static 'chosen/chosen.jquery.min.js' %}?v={{version}}"></script>
    {% endcomment %}
    <script language="javascript" type="text/javascript"
            src="{% static 'select2/js/select2.min.js' %}?v={{version}}"></script>
    <script language="javascript" type="text/javascript"
            src="{% static 'leaflet/leaflet.js' %}?v={{version}}"></script>
    <script language="javascript" type="text/javascript"
        src="{% static 'leaflet-markercluster/leaflet.markercluster.js' %}?v={{version}}"></script>
    <script language="javascript" type="text/javascript"
        src='{% static "leaflet-fullscreen/Leaflet.fullscreen.min.js" %}?v={{version}}'></script>

    <script type='text/javascript' language='javascript'>
        var src_url = "{% url 'farm-list' %}";
        var detail_url = "{% url 'farm-view' 'slug' %}";
        var form_url = "{% url 'search' %}";
        var img_path = "{% static "images/" %}";
        var json_path = "{% static "json/" %}";
        var API_KEY = "{{API_KEY}}";
    </script>

    <script language="javascript" type="text/javascript"
        src="{% static "interface.js" %}?v={{version}}"></script>

    <script type='text/javascript' language='javascript'>
        $(function() {
            initmapres();
        });
    </script>
</head>

<body>
<div id='switch-bar'>
  <div class='button-group'>
    <button id='btn-search'>Recherche</button>
    <button id='btn-map' class='selected'>Carte</button>
    <button id='btn-farm'>Ferme</button>
  </div>
</div>
<div id='sidebar'>
  <div id='search'></div>
</div>
{% comment %}<div id='debug'></div>{% endcomment %}
<div id="map-result"></div>
<div id='mobile-detail'><div class='content'></div></div>
</body>
</html>
