<h3 class="top-head">Où acheter Bio d'Ile de France ?</h3>
<form action="" method="post" class='search-form'>{% csrf_token %}
    {% for field in form %}
    <p>
        <label>{{ field.label }}</label>
        {% if field.errors %}<p class='error'>{% for error in field.errors %}{{ error }}{% endfor %}</p>{% endif %}
        {{ field }}
    </p>
    {% endfor %}
    <p class='center hidden'>
        <button id="search-button">Rechercher <i class="fa fa-search" aria-hidden="true"></i></button>
    </p>
</form>
{% if not first %}
<h3 id='resultats'></h3>
<ul id='farm-list'>
{% if farm_list %}
  {% for farm in farm_list %}<li>{% include "blocks/search_result_detail.html" %}
  </li>{% endfor %}
{% else %}
  <li><em>Pas de résultat. Élargissez votre recherche.</em></li>
{% endif %}
</ul>
{% endif %}
