{% load brization %}<div class='contener'>
<h3>{{farm.properties.nom}}
  {% if farm.properties.site %}<span class='site'><a target='_blank' href='{{farm.properties.site}}' title='Site web'><i class="fa fa-globe fa-fw" aria-hidden="true"></i></a></span>{% endif %}
  {% if farm.properties.facebook %}<span class='facebook'><a target='_blank' href='{{farm.properties.facebook}}' title='Facebook'><i class="fa fa-facebook-official fa-fw" aria-hidden="true"></i></a></span>{% endif %}
  {% if farm.properties.youtube %}<span class='youtube'><a target='_blank' href='{{farm.properties.youtube}}' title='Youtube'><i class="fa fa-youtube fa-fw" aria-hidden="true"></i></a></span>{% endif %}
</h3>
<div class='body'>
<div class='image'>
<img src='{{farm.properties.image}}'/>
</div>
  <div class='address'>
    <div class='adr'>{{farm.properties.adr}}</div>
    <div class='ville'>{{farm.properties.cp}} - {{farm.properties.ville}}</div>
  </div>
  <div class='contact'>
  {% if farm.properties.tel %}<div class='tel'><i class="fa fa-phone fa-fw" aria-hidden="true" title="Téléphone"></i>&nbsp;{{farm.properties.tel}}</div>{% endif %}
  {% if farm.properties.email %}<div class='email'>
    <i class="fa fa-envelope-o fa-fw" aria-hidden="true" title="Courriel"></i>&nbsp;
    {% for email in farm.properties.emails %}<a href="mailto:{{email}}"> {{email}}</a> {% endfor %}
  </div>{% endif %}
  </div>
  {% if farm.properties.produits %}
  <div class='produits'>
    {% for prod in farm.properties.produits %}{% if prod %}
    {% comment %}{% if not forloop.first %}</div>{% endif %}<div>{% endcomment %}
      <span title="{{prod}}" class='icon {{prod|slugify}}'>{{prod}}</span>
      {% comment %}<span>&nbsp;{{prod}}</span>{% if forloop.last %}</div>{% endif %}{% endcomment %}
    {% endif %}
  {% endfor %}</div>
  {% endif %}
  {% if farm.properties.produits_commercialises %}
  <div class='produits-com'><i class="fa fa-shopping-basket fa-fw" aria-hidden="true" title="Produits commercialisés"></i>&nbsp;<strong>Produits commercialisés</strong><br/>{{farm.properties.produits_commercialises}}.</div>
  {% endif %}
  {% if farm.properties.services %}
  <div class='services'><i class="fa fa-star fa-fw" aria-hidden="true" title="Services"></i>&nbsp;<strong>Services</strong><br/>{% for serv in farm.properties.services %}{% if not forloop.first %} - {% endif %}{{serv}}{% endfor %}.</div>
  {% endif %}
  {% if farm.properties.horaires %}
  <div class='horaires'>
    <i class="fa fa-clock-o  fa-fw" aria-hidden="true" title="Horaires"></i>&nbsp;<strong>Horaires de présence</strong><br/>{{farm.properties.horaires}}
  </div>
  {% endif %}
  {% if farm.properties.accueil %}
  <div class='services'>
    <i class="fa fa-pagelines fa-fw" aria-hidden="true" title="Accueil pédagogique"></i>&nbsp;<strong>Description de l’accueil pédagogique</strong><br/>{{farm.properties.accueil|safe}}
  </div>
  {% endif %}
  {% if farm.properties.fermeture %}
  <div class='fermeture'><i class="fa fa-ban fa-fw" aria-hidden="true" title="Fermeture"></i>&nbsp;<strong>Fermeture annuelle</strong><br/>{{farm.properties.fermeture|brization}}</div>
  {% endif %}
</div>

<div class='foot'>
</div>
</div>

