<h4 data-id='{{farm.properties.id}}'>{{farm.properties.nom}}</h4>
{% if farm.distance %}<h5>à {{farm.distance}} km</h5>{% endif %}
{% if farm.properties.produits %}
<div class='icones-produits'>{% for prod in farm.properties.produits %}{% if prod %}<span title="{{prod}}" class='{{prod|slugify}}'>{{prod}}</span> {% endif %}{% endfor %}</div>
{% else %}
<em>Voir fiche détaillée</em>
{% endif %}
